emin/venv/
.ipynb_checkpoints/
__pycache__/
*.pycgit ad
**/.env/
**/.venv/

# Fichiers temporaire LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Dossiers générés par Jupyter
.ipynb_checkpoints/